<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="https://dinastiadigital.github.io/home/index">
      <img
        src="img/dinastialogo.png"
        height="30"
        alt=""
        loading="lazy"
      />
    </a>
      <!--busqueda-->
      <form class="d-flex input-group w-auto">
        <input
          type="search"
          class="form-control"
          placeholder="Buscar producto"
          aria-label="Search"
        />
        <button class="btn btn-outline-dark" type="button" data-ripple-color="dark">
        <i class="fas fa-search"></i>
        </button>
      </form>

      <!-- Icons -->
      <!--car-->
    <ul class="navbar-nav d-flex flex-row">
      <li class="nav-item mr-3 mr-lg-0">
        <a class="nav-link" href="#">
          <i class="fas fa-shopping-cart"></i>
        </a>
      </li>
      <!--notificación-->
      <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
      <li class="nav-item mr-3 mr-lg-0">
        <a class="nav-link" href="#">
        <i class="fas fa-envelope-square"></i>
        </a>
      </li>
      <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
      <!--Unidigital-->
      <li class="nav-item mr-3 mr-lg-0">
        <a class="nav-link" href="unidigital.html">
      <i class="fas fa-user-graduate"></i>
      </a>
      <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
      <!-- Icon dropdown -->
      <!--perfil-->    
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="fas fa-user"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <a class="dropdown-item" href="#">Something else here</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
